/** @format */
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");
.header {
  flex: 0.3;
  background-color: rgb(245, 243, 234);
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}
.avatar {
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  height: 10vw !important;
  width: 10vw !important;
}
.headerItems {
  margin-top: 10vh;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.headerItemActive {
  margin-top: 2vh;
  border-radius: 0.7vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 4vw 0 4vw;
  transition: 300ms ease-in-out;
}
.optionsCancelIcon {
  margin-top: 2vh;
  color: rgb(148, 7, 7) !important;
  transition: 250ms ease-in-out;
}
.optionsCancelIcon:hover {
  cursor: pointer;
  color: rgb(233, 92, 116) !important;
}
.optionsIcon {
  margin-top: 2vh;
  color: rgb(19, 148, 7) !important;
  transition: 250ms ease-in-out;
}
.optionsIcon:hover {
  cursor: pointer;
  color: rgb(104, 233, 92) !important;
}
.headerItem {
  margin-top: 2vh;
  border-radius: 0.7vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 4vw 0 4vw;
  transition: 300ms ease-in-out;
}
.headerItem:hover {
  cursor: pointer;
  background-color: #adadad;
}
.HeaderItemText {
  font-size: x-large;
  color: #383e56;
  font-family: "Lobster Two", cursive;
  font-weight: bolder;
  margin-left: 2.5vw;
}
.headerItemActive .iconSvg,
.headerItemActive .HeaderItemText {
  color: rgb(216, 129, 129) !important;
}
.downloadResume {
  color: rgb(32, 26, 94);
  transition: 300ms ease-in-out;
  padding: 0 4vw 0 4vw;
  width: fit-content;
  align-items: center;
}
.downloadResume:hover {
  cursor: pointer;
  color: rgb(10, 117, 112);
  text-decoration: underline;
}
@media only screen and (max-width: 599px) {
  .header {
    flex: 0.2;
    top: 0;
    z-index: 1;
    position: sticky;
  }
  .headerItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1vh;
    margin-bottom: 0.5vh;
  }
  .headerItem {
    margin-left: 1vw;
    flex-direction: column;
    align-items: center;
    padding: 0 1vw 0 1vw;
  }
  .headerItemActive {
    flex-direction: column;
    align-items: center;
    padding: 0 1vw 0 1vw;
    transition: 300ms ease-in-out;
  }
  .headerItemActive .iconSvg,
  .headerItemActive .HeaderItemText {
    color: rgb(216, 129, 129) !important;
  }
  .avatar {
    margin-top: 2vh;
    height: 15vw !important;
    width: 15vw !important;
  }
  .HeaderItemText {
    margin-bottom: 0;
    font-size: x-large;
  }
}
