/** @format */
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
.home {
  flex: 0.7;
  min-height:100vh;
  background-color: rgb(237, 250, 234);
}
.homeDetails {
  margin-left: auto;
  margin-right: auto;
  border-radius: 2vw;
  height: 90vh;
  width: 95%;
  background-color: #488156 !important;
  text-align: center;
  background: url("./img/homeBack.jpg") no-repeat;
  background-position: center;
  background-blend-mode: soft-light;
}
.homeDetails h2,
.homeDetails p {
  font-family: "Fredoka One", cursive;
}
.helloHeading h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Fredoka One", cursive;
  padding-top: 10vh;
  font-size: 3em;
  font-weight: 500;
  color: rgb(243, 85, 85);
  font-variant: small-caps;
}
.helloSignImage {
  margin-top: 1vh;
  height: 2.5em;
  width: 2.5em;
}
.homeDetails p {
  margin-top: 1vh;
  color: rgb(255, 255, 255);
  font-size: x-large;
}
.homeDetails h2 {
  margin-left: auto;
  margin-right: auto;
  font-size: xx-large;
  border-radius: 0.9vw;
  color: rgb(139, 116, 13);
  background-color: #5ddbab;
  width: fit-content;
  padding: 0.7vh 2vw 0.7vh 2vw;
}
.homeOwnDetails {
  margin-top: 3vh;
}
.gotoprofile {
  font-style: oblique;
  text-decoration: underline;
  margin-top: 4vh !important;
  font-size: xx-large !important;
  font-weight: bold !important;
  transition: 250ms ease-in-out;
}
.gotoprofile:hover {
  cursor: pointer;
  color: rgb(199, 89, 89);
}
@media only screen and (max-width: 670px) {
  .homeDetails h2 {
    font-size: xx-large;
    padding: 0.9vh 2.3vw 0.9vh 2.3vw;
  }
  .homeDetails p {
    font-size: x-large;
  }
  .homeOwnDetails {
    margin-top: 5vh;
  }
  .homeOwnDetails p {
    font-size: x-large;
  }
  .helloHeading h1 {
    font-size: 2.9em;
  }
  .helloSignImage {
    margin-top: 3.8vh;
  }
}
