/** @format */
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
.profile {
  flex: 0.7; 
  min-height:100vh;
  background-color: rgb(237, 250, 234);
}
.projectImage {
  width: 70%;
}
.profile h2,
h3,
h5,
p {
  font-family: "Fredoka One", cursive;
  text-align: center;
}
.horRow {
  width: 95%;
  border-width: 1px;
}
.profile h3 {
  color: rgb(124, 176, 255);
  font-variant: small-caps;
  font-size: xx-large;
  text-decoration: underline;
}
.profile h2 {
  color: rgb(146, 25, 25);
  font-size: xx-large !important;
  font-variant: small-caps;
  text-decoration: underline;
}
.linktootherpage {
  color: rgb(61, 192, 192);
  transition: 250ms all;
}
.linktootherpage:hover {
  cursor: pointer;
  color: rgb(121, 241, 241);
  text-decoration: underline;
}

.schoolProfile {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(106, 109, 79);
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.9vw;
  padding: 0.7vw 0 0.7vw 0;
  margin-bottom: 2vh;
}
.schoolProfileDetails {
  flex: 0.7;
}
.schoolProfileDetails p {
  font-size: x-large;
}
.schoolImgMap {
  flex: 0.3;
}
.schoolImgMapImage {
  border-radius: 0.5vw;
  object-fit: contain;
  height: auto;
  width: 90%;
  transition: 250ms ease-in-out;
}
.schoolImgMapImage:hover {
  cursor: pointer;
  transform: scale(0.9);
  opacity: 0.5;
}
.project {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.9vw;
  padding: 0.7vw 0 0.7vw 0;
  margin-bottom: 2vh;
  background-color: rgb(106, 109, 79);
}
.gotocontact {
  font-weight: bolder;
  font-size: large;
  color: rgb(46, 46, 46);
  transition: 250ms ease-in-out;
  font-style: oblique;
}
.gotocontact:hover {
  cursor: pointer;
  color: rgb(199, 89, 89);
}
.descProject {
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.8vw;
  font-size: large;
  padding: 0.5vh 1vh 0.5vh 1vh;
  width: 90%;
  background-color: rgb(228, 235, 210);
}
@media only screen and (max-width: 1250px) {
  .schoolProfile {
    width: 90%;
    flex-direction: column;
    border-radius: 2vw;
  }
  .schoolImgMapImage {
    object-fit: contain;
    height: auto;
    width: 50%;
  }
}
@media only screen and (max-width: 599px) {
  .schoolImgMapImage {
    border-radius: 1.3vw;
  }
  .descProject {
    text-align: justify;
    font-size: large;
  }
  .profile h2 {
    font-size: xx-large;
  }
  .profile h3 {
    font-size: xx-large;
  }
}
